<div><a data-ui-sref="blog.selected_post({ id: selected_post.id })">Post</a></div>

<!-- <div ng-controller="BlogController as BlogViewModel">
  <div ng-click="BlogViewModel.toggleEl()">Post 1</div>
  <div ng-show="BlogViewModel.isVisible">
    <div marked src="'posts/post1.md'"></div>
  </div>
</div>

<div ng-controller="BlogController as BlogViewModel">
  <div ng-click="BlogViewModel.toggleEl()">Post 2</div>
  <div ng-show="BlogViewModel.isVisible">
    <div marked src="'posts/post1.md'"></div>
  </div>
</div> -->
